html,
body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  width: 95dvw;
  max-width: 1786px;

  height: 90dvh;
  margin: 0 auto;

  padding: 0 10px;
}

header {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 38px;
}

header .logo {
  display: flex;
}

header .logo img {
  width: 180px;
  height: 100px;
}

header .adding_new_task {
  padding: 20px 0;

  color: #5a5c63;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

header .plus {
  font-size: 20px;
  margin-right: 10px;
}

.adding_new_task {
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 0 auto;
}

main > div {
  width: 20%;
}

main .info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  width: 376px;
  height: 34px;
}

main .info p {
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  margin-left: 10px;
}

main .info .counter {
  width: 20px;
  height: 20px;

  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  margin-right: 10px;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

main .todo .info {
  background-color: #00a6da;
}

main .todo .counter {
  background-color: rgba(0, 205, 218, 1);
}

main .doing .info {
  background-color: rgba(204, 172, 3, 0.56);
}

main .doing .counter {
  background-color: rgba(218, 183, 0, 1);
}

main .finished .info {
  background-color: rgba(59, 192, 87, 1);
}

main .finished .counter {
  background-color: rgba(105, 206, 126, 1);
}

main .blocked .info {
  background: rgba(231, 76, 60, 1);
}

main .blocked .counter {
  background: rgba(231, 76, 60, 1);
}

main .separator {
  width: 100%;
  margin: 10px 0px;
}

main .todo .separator {
  border: solid 1px rgba(0, 166, 218, 1);
}

main .doing .separator {
  border: solid 1px rgba(218, 183, 0, 1);
}

main .finished .separator {
  border: solid 1px rgba(59, 192, 87, 1);
}

main .blocked .separator {
  border: solid 1px rgba(59, 192, 87, 1);
}

ul {
  padding: 0px;
  margin: 0px;

  max-height: 65dvh;

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

ul::-webkit-scrollbar {
  display: none;
}

main > div li {
  min-height: 216px;

  list-style: none;
  width: calc(100% - 5px);
  height: 100px;
  border: solid 1px rgba(255, 255, 255, 1);
  margin: 0px auto;
  padding: 0px;

  border-radius: 8px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  margin-bottom: 22px;
}

main div .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main li .top_section,
main li .bottom_section {
  margin: 0 10px;
}

main li .top_section {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  border-bottom: solid 1px rgba(219, 219, 219, 1);
  padding-bottom: 30px;
}

main li .title {
  width: 80%;
}

main li .title .category {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: rgba(77, 142, 255, 1);
  text-decoration: underline;
}

main li .title .title_content {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
  text-align: left;

  color: rgba(57, 57, 57, 1);
}

main li .bottom_section {
  margin-top: 10px;
  margin-bottom: 20px;
}

main li .bottom_section .content {
  height: 28px;
  overflow: scroll;

  font-size: 10px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: left;

  color: rgba(90, 92, 99, 1);
}

main li .bottom_section .time {
  display: flex;
  align-items: flex-end;
}

main li .time .clock svg {
  width: 12px;
  height: 12px;
}

main li .time .time_content {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: left;
  margin-bottom: 2px;
  margin-left: 4px;

  color: rgba(90, 92, 99, 1);
}

.new_task_pop_up {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  width: 500px;
  height: 300px;

  background-color: white;
  align-items: center;
  display: none;
  flex-direction: column;

  border: 1px solid black;
}

.new_task_pop_up header {
  width: 400px;
  height: 70px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;

  font-size: 13px;
  color: #585a60;

  margin-bottom: 5px;
}

.new_task_pop_up .close {
  position: absolute;
  right: 15px;
  top: 10px;

  cursor: pointer;
}

.new_task_pop_up input {
  width: 450px;
  margin-bottom: 10px;

  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

.new_task_pop_up .content_input {
  padding-bottom: 50px;
}

.new_task_pop_up .sumbit {
  width: 455px;
}

.edit_pop_up {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 250px);
  width: 500px;
  height: 300px;

  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;

  border: 1px solid black;
}

.edit_pop_up .close {
  position: absolute;
  right: 15px;
  top: 10px;

  font-size: 20px;
  text-align: center;
}

.edit_pop_up .status_state {
  display: flex;
}

.edit_pop_up header {
  width: 300px;
  height: 70px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;

  font-size: 13px;
  color: #585a60;
}

.edit_pop_up input[type="text"],
.edit_pop_up input[type="datetime-local"] {
  width: 450px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

.edit_pop_up input[type="text"] {
  margin-bottom: 10px;
}

.edit_pop_up .content_input {
  padding-bottom: 50px;
}

.edit_pop_up .status_state {
  height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.edit_pop_up .sumbit {
  width: 455px;
}

/* Responsive */
@media screen and (max-width: 1400px) and (min-width: 1024px) {
  li .edit {
    min-width: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    overflow-y: visible;
  }

  header {
    min-height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
  }

  header .adding_new_task {
    margin: 0;
    border: 1px solid black;
    padding: 10px 20px;

    border-radius: 3px;
    padding-bottom: 15px;
  }

  main {
    display: block;
  }

  main > div {
    width: 100%;
    max-width: 100%;
    max-height: fit-content;

    overflow-y: scroll;
    overflow-x: hidden;

    margin-bottom: 20px;
  }

  main .todo {
    width: 100%;
  }

  main > div li {
    max-width: 100%;
    min-height: 160px;
  }

  main li .bottom_section .content span {
    max-width: 100%;
    overflow-y: scroll;
  }

  .new_task_pop_up header{
    min-height: 80px;
    min-width: 100%;
  }

  .new_task_pop_up *{
    transform: scale(0.9);
  }

  .new_task_pop_up input[type="text"]{
    margin: 5px;
  }

  .new_task_pop_up .close{
    transform: scale(1.2);
  }

  .edit_pop_up header{
    min-height: 70px;
    min-width: 100%;
  }

  .edit_pop_up *{
    transform: scale(0.9);
  }

  .edit_pop_up input[type="text"]{
    margin: 3px;
  }

  .edit_pop_up .close{
    transform: scale(1.2);
  }

  .edit_pop_up .status_state{
      gap: 5px;
  }
}